{% extends "base.html" %}
{% load common_tags %}

{% block content %}
<div class="row">
  <h1>Polls</h1>
  {% if latest_question_list %}
    <ul>
      {% for question in latest_question_list %}
        <li>
          <a href="{% url 'polls:detail' question.id %}">
            {{ question.question_text }}
            ({{ question.nvotes }} on {{ question.nchoices }})
            &mdash;
            created by {{ question.user }}
            about {{ question.pub_date|timesince }} ago
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
</div>
{% endblock %}
